/* Cabeçalho - Inicio */
header {
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

header a {
    padding: 5px;
    margin-right: 3%;
}

header .search {
    font-size: 1.4rem;
    margin-right: 3%;
    background: white;
    border-radius: 15px;
    display: flex;
}

header .search-input {
    background: none;
    border: none;
    width: 400px;
    padding: 3px 30px;
    text-align: right;
}

header .search-input:focus {
    outline: none; 
}

header .search-button {
    background: none;
    border: none;
    padding-right: 15px
}

header button img {
    width: 25px;
    height: auto;
}

header a img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}
/* Cabeçalho - Fim */



/* Barra Lateral - Inicio */
aside {
    width: 300px; 
    position: fixed; 
    top: 0; 
    left: -300px; 
    height: 100%; 
    background: #e9ecef; 
    transition: left 0.3s ease; 
    z-index: 1000; 
    border: 2px solid black;
    border-radius: 10px;
}

#toggleFilters:checked ~ .filters {
    left: 0; 
}

body.overlay {
    overflow: hidden;
}

body.overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}   

.container-flex label {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 3%;
    padding: 0.5%;
    background: #e9ecef;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
}

#toggleFilters {
    display: none;
}

#toggleFilters:checked + label + aside {
    display: block;
}

form .form-label {
    padding: 1.5%;
}
/* Barra Lateral - Fim */



/* Alinhamento - Inicio */
.container-flex {
    display: flex;
    justify-content: space-between;
}
/* Alinhamento - Fim */



/* Main - Inicio */
main {
    width: 100%;
}
/* Main - Fim */


/* Card - Inicio */
section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .card-text {
    font-size: 1rem;
} 

section .card {
    width: 100%;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}
/* Card - Fim */



/* Rodapé - Inicio */
footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background: black;
    color: white;
    padding: 10px;
}
/* Rodapé - Fim */



@media (max-width: 767px) {

    header {
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    header .search {
        font-size: 1.0rem;
        margin: 1% 0% 3% 0%;
    }

    header .search-input {
        width: 150px;
    }
    
    section .container {
        padding: 0% 10% 0% 0%;
    }
    
    footer {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1023px){

    section .container {
        padding: 0% 5% 0% 0%;
    }

}
/* Responsividade - Fim */