/* Cabeçalho - Inicio */
header {
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

header nav {
    margin-right: 3%;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    margin-right: 3%;
}

header a img {
    height: 100px;
    width: 100px;
    margin-left: 30px;
}

/* Cabeçalho - Fim */



/* Linha Titulos - Inicio */
section .titulo {
    margin: 0% 3% 1% 3%;
    border-bottom: 3px solid black;
    padding: 10px;
}

/* Linha Titulos - Fim */



/* Visão Geral - Inicio */
section .visao-geral {
    background-image: url(imagens/Imagens/TheLastOfUs3.jpeg);
    background-size: cover;
}

section #conteudo {
    display: flex;
    color: white;
    padding: 2%;
    margin-left: 10%;
    background: rgba(0, 0, 0, 0.7);
}

section #conteudo #imagem {
    border: 2px solid whitesmoke;
    border-radius: 3%;
}

section .geral-text {
    margin-left: 1%;
    margin-right: 10%;
}

section #conteudo .geral-title {
    font-weight: bold;
}

section #conteudo p img {
    width: 60px;
    height: 60px;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: white;
}

.checkbox-container input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.checkmark {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
}

.checkmark img {
    width: 30px;
    height: 30px;
    display: none;
}

.checkbox-container input:checked~.checkmark {
    background: white;
}

.checkbox-container input:checked~.checkmark .favoritar-text {
    display: none;
}

.checkbox-container input:checked~.checkmark img {
    display: block;
    margin-left: 5px;
}

/* Visão Geral - Fim */



/* Card - Inicio */
section .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
section .card-text {
    font-size: 0.9rem;
} 

section .card {
    width: 100%;
    margin: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

/* Card - Fim */



/* Temporada - Inicio */
.temp-card {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(50, 50, 50, 0.9));
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.temp-img {
    flex: 0 0 150px;
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
    border: 2px solid white;
}

.temp-content {
    flex: 1;
}

.temp-content h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.temp-content h5 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.temp-content p {
    font-size: 1rem;
}

/* Temporada - Fim */



/* Rodapé - Inicio */
footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background: black;
    color: white;
    padding: 10px;
}

/* Rodapé - Fim */



/* Responsividade - Inicio */
@media (max-width: 767px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    section .container {
        padding: 0% 10% 0% 0%;
    }

    section #conteudo {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 10px;
    }

    section .geral-text {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    footer {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    section .container {
        padding: 0% 5% 0% 0%;
    }
}

/* Responsividade - Fim */